.card {
  background: rgba(197, 197, 197, 0.11);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 6px 2px rgba(225, 240, 243, 0.144);
  border: 1px solid rgba(222, 222, 222, 0.203);
  border-bottom: 1px solid rgba(210, 210, 210, 0.15);
}
